doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/index.css")
  body
    .card
      img(src="images/form-header-image.png")
      // <h5 class="card-header">Featured</h5>
      .card-body
        h6.card-title Ministry of Health
        h4
          strong COVID-19(CORONA VIRUS)
        h6 Virus-Test Registration Form
        form(name="pform" onsubmit="return Validate()" action="/register" method="POST")
          .form-row
            .form-group.col-md-6
              label Surname 
              input#surName.form-control(type="text" name="surName")
              #surName_error
            .form-group.col-md-6
              label Given name 
              input#givenName.form-control(type="text" name="givenName")
              #givenName_error
          .form-row
            .form-group.col-md-6
              label Date of Birth 
              input#dob.form-control(type="date" name="dob")
              #dob_error
            .form-group.col-md-6
              label Place of Residence 
              input#residence.form-control(type="text" name="residence")
              #residence_error
          .form-row
            .form-group.col-md-6
              label Occupation 
              input#occupation.form-control(type="text" name="occupation")
              #occupation_error
            .form-group.col-md-6
              label Nationality
              input#nationality.form-control(type="text" name="nationality")
              #nationality_error
          .form-row
            .form-group.col-md-12
              label Gender 
              br
              .gender.col-md-12
                input#male(type="radio" name="gender" value="Male" checked="")
                | &nbsp;&nbsp;Male
                input#female(type="radio" name="gender" value="Female")
                | &nbsp;&nbsp;Female 
                #gender_error
          .form-row
            .form-group.col-md-12
              label Category 
              select#category.form-control(name="category")
                option(selected="") --Select Category--
                option Returnee
                option Contact
                option Alert
                option Volunteer
              #category_error
          .submits
            button.btn.btn-primary.col-md-6(type="submit") Register
    script(src="js/index.js")
