<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="card">
        <img src="images/form-header-image.png">
        <!-- <h5 class="card-header">Featured</h5> -->
        <div class="card-body">
          <h5 class="card-title">Ministry of Health</h5>
          <h3><strong>COVID-19(CORONA VIRUS)</strong></h3>
          <h5>Virus-Test Registration Form</h5>
          <form name="vform" onsubmit="return Validob()" action="/register" method="POST">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Surname </label>
                <input type="text" class="form-control" id="surName" name="surName">
                <div id="surName_error"></div>
              </div>
              <div class="form-group col-md-6">
                <label>Given name </label>
                <input type="text" class="form-control" id="givenName" name="givenName">
                <div id="givenName_error"></div>
              </div>
            </div>
    
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Date of Birth </label>
                <input type="date" class="form-control" name="dob" id="dob">
                <div id="dob_error"></div>
              </div>
              <div class="form-group col-md-6">
                <label>Place of Residence </label>
                <input type="text" class="form-control" name="residence" id="residence">
                <div id="residence_error"></div>
              </div>                  
            </div>
    
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Occupation </label>
                  <input type="text" class="form-control" id="occupation" name="occupation">
                  <div id="occupation_error"></div>
                </div>
                <div class="form-group col-md-6">
                  <label>Nationality</label>
                  <input type="text" class="form-control" id="nationality" name="nationality">
                  <div id="nationality_error"></div>
                </div>
              </div>
    
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Gender </label><br>
                    <div class="gender col-md-12">
                      <input type="radio" name="gender" value="Male" id="male">Male
                      <input type="radio" name="gender" value="Female" id="female"> Female 
                      <div id="gender_error"></div>
                    </div>                
                </div>
            </div>     
    
            <div class="form-row">            
                <div class="form-group col-md-12">
                    <label >Category </label>
                    <select id="category" class="form-control" name="category" style="text-align: center;" >
                      <option selected >--Select Category--</option>
                      <option>Returnee</option>
                      <option>Contact</option>
                      <option>Alert</option>
                      <option>Volunteer</option>
                    </select>
                    <div id="category_error"></div>
                </div>           
            </div>
    
            <div class="submits">
                <button type="submit" class="btn btn-primary col-md-6">Register</button>
            </div>
    </form> 
        </div>
      </div>
      
    <script src="js/index.js"></script>
</body>
</html>