@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

.background {
  font-family: "Fira Sans", sans-serif;
  color: #f5f6fa;
  background: #446182;  
}

.error {
  color: red;
  font-size: 90%;
}

.invalid-outline{
  border: 1px solid red;
}

.valid-outline{
  border: 1px solid green;
}
