# Dependency directory
senkatuuka_ashe_eric/coronavirus-test-registration-form/node_modules

# Assets Directory
senkatuuka_ashe_eric/coronavirus-test-registration-form/assets


#Project Specifications
CATALYST004-FINAL-TECHNICAL-ASSESSMENT.pdf

# Editors
.vscode
