# Dependency directory
senkatuuka_ashe_eric/coronavirus-test-registration-form/node_modules

# Assets Directory
senkatuuka_ashe_eric/coronavirus-test-registration-form/assets
senkatuuka_ashe_eric/coronavirus-test-registration-form/ashe

# Editors
.vscode
